---
layout: list
---

<div id="category">
    <h2>{{ site.data.samplelist.docs_list_title }}</h2>
    <div class="content_section">
        {% for item in site.data.samplelist.docs %}
            <div class="cs_item">{{ item.title }}</div>
        {% endfor %}
    </div>
</div>

<div id="navbar" class="container">
    <h5>{{ site.posts.size }} Posts</h5>
</div>

<div class="content_section">
    <ul id="post-list">
        {% for post in site.posts %}
        {% include item.html %}
        {% endfor %}
    </ul>
</div>
<!--{% include pagination.html %}-->