---
title: Kwangmin's resume
permalink: /resume/
---

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{base_url}}/assets/css/resume.css">
        <link rel="stylesheet" href="{{base_url}}/assets/css/resume_nav.css">
    </head>
    <body class="dark">
        <nav id="nav">
            <div class="container">
            <div class="toggle-btn">
            <input class="menu-toggle" type="checkbox">
            <span></span><span></span><span></span>
            </div>

            <a id="logo" href="/">{{ site.title }}</a>
            <ul id="menu" class="nav">
                <li class="{% if page.url == '/' or page.url == '/development/' %} active {% endif %}"><a
                        href="/">BLOG</a></li>
                <li class="{% if page.url == '/resume/' %} active {% endif %}"><a href="{{ base_path }}/resume/">RESUME</a></li>
            </ul>
            {% assign site = site %}
            </div>
        </nav>
        <header>
            <div class="name_wrapper">
            <span data-name class="name" onclick="changeTheme('dark')">SEOYEON LEE</span>
            </div>
            <div class="title_wrapper">
            <span data-position class="title">WEB DEVELOPER</span>
            </div>
        </header>
        <div class="content">
            
            <section class="right">
                <div data-experience class="experience">
                    <h2 class="headline">EXPERIENCE</h2>
                    <div class="description">
                        <ul>

                            <li>
                                <h4 data-duration class="duration">2019.03 ~ 2019.04</h4>
                                <div class="exp_content">
                                    <h4 data-title>Petnim Admin</h4>
                                    <div class="exp_description">
                                        동물병원 Kiosk 관리 어플리케이션<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2018.11 ~</h4>
                                <div class="exp_content">
                                    <h4 data-title>KT Arimap</h4>
                                    <div class="exp_description">
                                        미세먼지, 초미세먼지 등의 정보를 제공하는 어플리케이션<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2018.04 - 2018.10</h4>
                                <div class="exp_content">
                                    <h4 data-title>바이오데이터 기증자 관리 및 프로젝트 관리</h4>
                                    <div class="exp_description">
                                        기증자의 바이오데이터 내부 시스템 개발<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2018.02 - 2018.03</h4>
                                <div class="exp_content">
                                    <h4 data-title>BLE 위치 솔루션</h4>
                                    <div class="exp_description">
                                        BLE 및 스캐너 등을 관리하는 웹 어플리케이션 개발.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2018.01 - 2018.02</h4>
                                <div class="exp_content">
                                    <h4 data-title>High Web</h4>
                                    <div class="exp_description">
                                        WebGL을 제공하는 HighWeb browser를 테스트 할 수 있는 Eclipse IDE 개발.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2017.12 - 2017.12</h4>
                                <div class="exp_content">
                                    <h4 data-title>BLE 위치 솔루션</h4>
                                    <div class="exp_description">
                                        BLE Scanner의 Http Package를 받는 Node.js Server 구현.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2017.01 - 2017.11</h4>
                                <div class="exp_content">
                                    <h4 data-title>한국 가스공사 PIBOT 5년차</h4>
                                    <div class="exp_description">
                                        Remote Field Eddy Current Testing 분석프로그램.<br>
                                        16인치 Tractor Robot System 개발.<br>
                                        8인치 Tractor Robot System 개발.<br>
                                        16인치 NonDestructiv Evaluation 개발.<br>
                                        배관외면 Tractor Robot System 개발.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2016.10 - 2016.12</h4>
                                <div class="exp_content">
                                    <h4 data-title>한국 가스공사 PIBOT 4년차</h4>
                                    <div class="exp_description">
                                        Magnetic Flux Leakage 분석 프로그램 이슈 수정.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2016.07 - 2016.08</h4>
                                <div class="exp_content">
                                    <h4 data-title>한약자원 DNA</h4>
                                    <p class="exp_link">주소: <a target="_blank" href="http://oasis.kiom.re.kr/kdna/kdna/barcodedata/selectOpenBarcodeDataLst.do">한약자원관리 시스템</a></p>
                                    <div class="exp_description">                                        
                                        바코드데이터와 비교그룹관리 메뉴 Backend 구축.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h4 data-duration class="duration">2016.07 - 2016.08</h4>
                                <div class="exp_content">
                                    <h4 data-title>DB 백업 솔루션</h4>
                                    <div class="exp_description">
                                        DataBase를 저장된 시나리오에 맞추어서 백업하는 솔루션.<br>
                                        관리 웹페이지의 계정 및 Roll 관리를 구축.<br>
                                    </div>
                                </div>
                            </li>

                            <li>
                            <h4 data-duration class="duration">2016.08 - 2016.08</h4>
                            <div class="exp_content">
                                <h4 data-title>아산하수종말처리장 인트로 웹</h4>
                                <div class="exp_description">
                                    아산시 하수종말처리장 공지사항, 소개, 게시판 등으로 구성된 웹페이지.<br>
                                </div>
                            </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <hr>

                <div class="skills_education">
                    <div class="skills">
                        <h2 class="headline">SKILLS</h2>
                        <div class="description">
                            <h5>Languages</h5>
                            <div class="skill_item">
                                <h4>Kotlin</h4>
                            </div>
                            <div class="skill_item">
                                <h4>Javascript</h4>
                            </div>
                            <div class="skill_item">
                                <h4>Python3.0</h4>
                            </div>
                            <div class="skill_item">
                                <h4>Java</h4>
                            </div>
                            <div class="skill_item">
                                <h4>CSS</h4>
                            </div>
                            <h5>Frameworks</h5>
                            <div class="skill_item">
                                <h4>NodeJs</h4>
                            </div>
                            <div class="skill_item">
                                <h4>Spring</h4>
                            </div>
                            <h5>DBMS</h5>
                            <div class="skill_item">
                                <h4>MySql & MariaDB</h4>
                            </div>
                            <div class="skill_item">
                                <h4>JPA</h4>
                            </div>
                        </div>
                    </div>

                    <div class="education">
                        <h2 class="headline">EDUCATION</h2>
                        <div class="description">
                            <div class="item">
                                <h4>Coding School</h4>
                                <span class="organization">Acorn Academy</span>
                                <h4>2015.10 - 2016.02</h4>
                            </div>
                            <div class="item">
                                <h4>IT응용공학과</h4>
                                <span class="organization">부산대학교</span>
                                <p></p>
                                <h4>2009.03 - 2016.02</h4>
                            </div>
                        </div>
                    </div>

                    <div class="education">
                        <h2 class="headline">STUDY</h2>
                        <div class="description">
                            <div class="item">
                                <h4>CODE SPITZ</h4>
                                <p>Javasript, CSS</p>
                                <h4>2016.07 ~ 2018.03</h4>
                            </div>
                            <div class="item">
                                <h4>SIMPLEX COMPLEXITY</h4>
                                <p>Alogrism, Math</p>
                                <h4>2017.01 - 2017.11</h4>
                            </div>
                            <div class="item">
                                <h4>PSYGRAMMER</h4>
                                <p>AI</p>
                                <h4>2017.01 - 2017.06</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
            </section>


            <section class="left">
                <div class="aboutme">
                    <h2 class="headline">ABOUT ME</h2>
                    <div class="description">
                        <b>1990년대</b>를 달리고 있는 웹 개발자입니다.<br>
                        해소되지 않는 궁금증<br>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b>‘코드를 어떻게 작성해야 잘 작성한 코드일까?’</b><br>
                        을 탐구하고 목표를 하고 있습니다.
                    </div>
                </div>

                <hr>

                <div class="contact">
                    <h2 class="headline">CONTACT</h2>
                    <div class="description">
                        <ul>

                            <li>
                            <img src="{{base_url}}/assets/images/icons/mail.png" alt="mail" class="icon">
                            <div class="label">
                            <h4>Mail</h4>
                            <span><a href="mailto:kyle.kim0305@gmail.com">spoi2308@gmail.com</a></span>
                            </div>
                            </li>

                            <li>
                            <img src="{{base_url}}/assets/images/icons/location.png" alt="location" class="icon">
                            <div class="label">
                            <h4>Git</h4>
                            <span><a href="https://github.com/Aeee90/">https://github.com/Aeee90/</a></span>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>
            </section>
        </div>
        <script src="{{base_url}}/assets/js/resume.js"></script>
    </body>
</html>
