/* line 4, ../../_sass/header.scss */
header {
  width: 100%;
  background-color: #fff;
}

/* line 8, ../../_sass/header.scss */
header .container {
  margin: auto;
  max-width: 900px;
  height: 58px;
  line-height: 58px;
}

/* line 14, ../../_sass/header.scss */
#logo, .nav {
  display: inline-block;
  height: 58px;
}

/* line 18, ../../_sass/header.scss */
#logo {
  font-family: 'Libre Barcode 39 Extended Text';
  font-size: 30pt;
  color: rgba(14, 93, 198, 0.9);
}

/* line 23, ../../_sass/header.scss */
ul.nav {
  float: right;
  font-family: 'Lato';
}
/* line 26, ../../_sass/header.scss */
ul.nav li {
  float: left;
  margin: 0 10px;
}
/* line 30, ../../_sass/header.scss */
ul.nav li.active {
  border-bottom: 2px solid rgba(14, 93, 198, 0.9);
}

/* line 34, ../../_sass/header.scss */
.toggle-btn {
  display: none;
}
