/* line 4, ../../_sass/list.scss */
body {
  background-color: #f6f6f6;
}

/* line 8, ../../_sass/list.scss */
#wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0 0 100px 0;
}

/* line 14, ../../_sass/list.scss */
.cover {
  position: absolute;
  top: 60px;
  left: 0;
  display: block;
  width: 100%;
  height: 50vh;
  background-size: 100%;
  background-image: url("../images/default_blog_cover.jpeg");
  background-position: center;
  overflow: hidden;
}
/* line 25, ../../_sass/list.scss */
.cover .filter {
  width: 100%;
  height: 50vh;
  background-color: #303030;
  opacity: 0.4;
}
/* line 31, ../../_sass/list.scss */
.cover .cover-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: right;
  transform: translate(-50%, -50%);
}
/* line 38, ../../_sass/list.scss */
.cover .cover-title h1 {
  font-family: 'Monserrat', san-serif;
  font-size: 30pt;
}
/* line 42, ../../_sass/list.scss */
.cover .cover-title p {
  font-family: 'Ubuntu', san-serif;
}

/* line 48, ../../_sass/list.scss */
.contents {
  margin: 430px auto 0;
}

/* line 52, ../../_sass/list.scss */
#post-list .post-item {
  position: relative;
  margin: 0 0 20px;
  padding: 14px 30px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
/* line 58, ../../_sass/list.scss */
#post-list .post-item .post-category, #post-list .post-item .post-title, #post-list .post-item .post-content, #post-list .post-item .post-tags {
  width: 78%;
}
/* line 61, ../../_sass/list.scss */
#post-list .post-item .post-category {
  margin: 10px 0;
}
/* line 64, ../../_sass/list.scss */
#post-list .post-item .post-date {
  font-weight: 300;
}
/* line 67, ../../_sass/list.scss */
#post-list .post-item .post-content {
  font-weight: 300;
  max-height: 50px;
  line-height: 24px;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 76, ../../_sass/list.scss */
#post-list .post-item .tag {
  margin: 0 10px 0 0;
  padding: 5px 8px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 300;
}
/* line 84, ../../_sass/list.scss */
#post-list .post-item .post-image-wrapper {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 150px;
  height: 150px;
  transform: translate(0, -50%);
}
/* line 91, ../../_sass/list.scss */
#post-list .post-item .post-image-wrapper .post-image {
  width: 150px;
  height: 150px;
}
